.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  font-style: italic;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

/* artinya apapun yang ada didalam setelah row, maka ubah cssnya */
#gallery .row > * {
  padding: 0;
}
